@import url("https://fonts.googleapis.com/css2?family=WindSong&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,700;1,200&display=swap");
*,
::before,
::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-image: url(../aplet/foret_cerf.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 90vh;
	overflow-x: hidden;
}

.container-title {
	display: flex;
	height: 100%;
	animation: swipUp 8s;
	align-items: center;
	flex-direction: column;
	padding: 150px 10px;
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
}

.container-title .header {
	display: flex;
	height: 150px;
	justify-content: space-between;
	align-items: center;
	font-size: 40px;
	font-family: "WindSong";
	padding: 100px 150px 100px;
}

.container-title .header #title {
	text-shadow: 5px 1px rgba(0, 0, 0, 0.37);
	padding: 15px;
	background: -webkit-linear-gradient(#df5e22f3, #722502, #028b52);
	border-radius: 0.8px;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	-webkit-text-stroke: black;
	transition: all 0.5s;
}

.container-title ul {
	display: flex;
	justify-content: center;
}

.container-title ul li {
	list-style: none;
	height: 80px;
}

.container-title ul li a {
	outline: none;
	background: -webkit-linear-gradient(#df5e22f3, #722502, #028b52);
	border-radius: 0.8px;
	-webkit-text-stroke: black;
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 40px;
	font-family: "WindSong";
	height: 60px;
	width: 100%;
	padding: 18px;
}

.logo-medias {
	animation: animate 5s;
	position: absolute;
	top: 15%;
	right: 0%;
}

.logo-medias li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-medias li img {
	height: 60px;
	margin: 20px;
	filter: invert(1);
	transform: scale(0.5);
}

a {
	transition: 0.5s ease;
	cursor: pointer;
	position: relative;
	font-family: "WindSong";
	font-size: 40px;
	user-select: none;
	z-index: 5;
	margin: 30px;
	text-align: center;
}

.container-title ul li a:hover {
	transition: 0.5s ease;
	text-shadow: 0.5px 10px 5px#3b1818;
	-webkit-text-fill-color: -webkit-linear-gradient(
		#df5e22f3,
		#722502,
		#028b52
	) !important;
}

a::before {
	position: absolute;
	content: "";
	left: 0;
	height: 60px;
	width: 10px;
	border-radius: 12px;
	z-index: -1;
	transition: all 0.5s;
}

footer a {
	font-family: "raleway";
	font-size: 13px;
	list-style: none;
	background-clip: border-box;
	text-decoration: none;
	color: white;
}

footer {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.5);
}

footer .content-footer {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
}

footer div {
	margin: 12px;
	width: 100%;
	background: rgba(31, 34, 33, 0.24);
	list-style: none;
	font-family: "Raleway";
	font-size: 15px;
}

@keyframes swipUp {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
